@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }


.preloader{
    display: block;
    margin: 100px auto;
}

.profileInfo {
    display: flex;
}

.profileInfoBlockOne {
    min-width: 250px;
}

.profileInfoBlockTwo {
    width: 100%;
}

.boxPhoto {
    min-width: 230px;
    min-height: 230px;
}

.avatar {
    max-width: 230px;
    width: 100%;
    max-height: 300px;

    border-radius: 10px;
}

.photoLoader {
    width: 150px;

    position: absolute;
    top: 45%;
    left: 18%;
}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: 0;

    transition: 0.3s linear;
}

.labelInput:hover {
    opacity: 0.3;
}

.inputAvaImg {
    position: relative;
    top: 40%;
    left: 40%;
    width: 40px;

    fill: #fff;
}

.inputFile {
    display: none;
}

.items {
    padding: 10px;
    position: relative;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    margin: 0 10px 10px;
    overflow: hidden;

    -webkit-animation: fade-in 0.3s ease-in; /* Safari 4+ */
    -moz-animation: fade-in 0.3s ease-in; /* Fx 5+ */
    -o-animation: fade-in 0.3s ease-in; /* Opera 12+ */
    animation: fade-in 0.3s ease-in; /* IE 10+, Fx 29+ */
}

.on {
    background-color: rgba(129, 224, 116, 0.486);
}

.off {
    background-color: rgba(224, 116, 116, 0.486);
}

.contacts {
    display: flex;
}

.title {
    margin-right: 20px;
}

.contactsName {
    display: flex;
    flex-direction: column;    
}

.contactsName a {
    text-decoration: none;
    color: #AAA;
    margin-bottom: 2px;
    transition: ease 0.2s;
}

.contacts a:hover {
    color: rgb(51, 51, 51);
    transform: scale(1.1) translate(+5%, +5%);
}

.status {
    margin-top: 5px;
    font-size: 12px;
    color: #AAA;
}