@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }


.users {
    display: flex;
    flex-wrap: wrap;    
}

.preloader {
    margin: 100px auto;
}

.user {
    max-width: 100px;
    margin: 0 20px 20px 0;

    overflow: auto;

    -webkit-animation: fade-in 0.4s ease-in; /* Safari 4+ */
    -moz-animation: fade-in 0.4s ease-in; /* Fx 5+ */
    -o-animation: fade-in 0.4s ease-in; /* Opera 12+ */
    animation: fade-in 0.4s ease-in; /* IE 10+, Fx 29+ */
}

.ava {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
}

.pagesOfUsers {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.pageUsers {
    min-width: 40px;
    max-width: fit-content;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
    padding: 0 5px;

    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.pageUsers:hover {
    box-shadow: 0 0 5px #333;
}

.pageUsers:active {
    background-color: rgb(92, 92, 92);
}





.paginateContainer li{
    min-width: fit-content;
    height: 30px;
    list-style-type: none;
}

.paginateContainer li{
    list-style-type: none;
}

ul.paginateContainer {
    padding: 0;    
}

.paginateContainer {
    margin: 0 auto 10px;
    max-width: fit-content;
    height: 30px;

    display: flex;
    align-items: stretch;
}

.paginatePage {
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;    
}

.paginatePage:hover {
    box-shadow: 0 0 5px #333;
}

.paginateActive {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

.paginatePrevious {
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.paginatePrevious:hover {
    box-shadow: 0 0 5px #333;
}

.paginateNext {
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.paginateNext:hover {
    box-shadow: 0 0 5px #333;
}

.paginateLink {
    display: block;
    height: 100%;
    padding: 5px 10px;

    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

.paginateBreak {
    margin-right: 10px;
}

.button {
    display: block;
    margin: 0 auto 10px;
}